footer .row {
  display: flex;
  text-align: center;
  background-color: #fff2f2;
  height: 150px;
  align-items: center;
  margin-top: 115px;
}

footer .row .col img {
  max-width: 40%;
}

@media (max-width: 640px) {
  footer .row {
    height: 70px;
    margin-top: 20px;
  }

  footer .row .col img {
    max-width: 80%;
  }
}
